-----BEGIN CERTIFICATE-----
MIICYDCCAcmgAwIBAgIJAL6X+InYmtaGMA0GCSqGSIb3DQEBBQUAMEkxCzAJBgNV
BAYTAlNHMRIwEAYDVQQIDAlTaW5nYXBvcmUxEjAQBgNVBAcMCVNpbmdhcG9yZTES
MBAGA1UECgwJTWVkaWFjb3JwMB4XDTE3MDUyNTA5MjIxMFoXDTE4MDUyNTA5MjIx
MFowSTELMAkGA1UEBhMCU0cxEjAQBgNVBAgMCVNpbmdhcG9yZTESMBAGA1UEBwwJ
U2luZ2Fwb3JlMRIwEAYDVQQKDAlNZWRpYWNvcnAwgZ8wDQYJKoZIhvcNAQEBBQAD
gY0AMIGJAoGBANMAn+b3OmGk7MzTexN0+MrVPmDEM60NSgsNklSVhjbJMWINP9y7
tiAGgxXuLxwkBFlvrtIa3oQHAPSbvAY7XH2rJMvKRLVwdwoyqA9Vk7lEukO2patA
Z/+bgdEEfPoofVFxwAWvRlD3zleI5o0TJiPsN18AusFWhHALZGqwc0TVAgMBAAGj
UDBOMB0GA1UdDgQWBBSh3k00UR+dT3MUeSy2HX4VqwzFWTAfBgNVHSMEGDAWgBSh
3k00UR+dT3MUeSy2HX4VqwzFWTAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUA
A4GBABAbJTvcZSeXfVkseIhxwvUFXcaJ0CG8Zz9bR37NQyzg+tZwvOxWdM4mR+cq
bURb3aCWTkL+1MQW3BhfRbyc09G+7tHTHh3/LTXVmhLIXjuB3SlrWn9QKLsTeMdM
LIzReJNPUb6SAIeWErn23MQ/h1+kCqhofZXBbF3jAwuJlKd6
-----END CERTIFICATE-----
